@import url("bootstrap.min.css");

.container {
	background-color: #000;
}

.nav-link:hover {
    border-bottom: 2px solid rgb(209, 0, 0);
}

.navbar-brand {
    border-radius: .4em;
}

.navbar-brand:hover {
    border: 1px solid rgb(209, 0, 0);
}

@media (max-width: 786px) {
	.carousel-control-prev,
	.carousel-control-next {
		visibility: hidden;
	}
}
